img {
    width:400px;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.userInfo {
    width: 200px;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}